

#passContainer{
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
    padding-bottom: 50px;
}

#passBox{
    background-color: white;
    padding: 40px;
    height: fit-content;
    padding-bottom: 30px;
    width: 700px;
}

#passBox h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

#confirm{
    width: 100%;
    background-color: #00c2ff;   
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-left: 7px;
}


#confirm:hover{
    cursor: pointer;
}

#passBox input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}