

#editArea{
    
    background-color: white;
    padding: 40px;
    height: fit-content;
    width: 700px;
    
}

#editArea h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

#editArea input[type="text"],
#editArea input[type="tel"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

#changeConfirm{
    width: 100%;
    background-color: #00c2ff;  
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-left: 7px;
}

#changeConfirm:hover{
    cursor: pointer;
}



#areaContainer{
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
}