:root{
  --primary:#24039a;
  --primary-hover:#6642e7;
  --light:#FDF2F8;
  --dark:#0f172a;
  --border:#e2e8f0;
  --white:#ffffff;
}


.details-container {
    max-width: 1200px;
    margin: 70px auto;
    padding: 20px;
    display: flex;
    gap: 40px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.details-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    border-radius: 12px;
    padding: 20px;
}

.details-img img {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.details-info {
    flex: 1;
    padding: 20px 0;
}

.p-category {
    color: #6c757d;
    font-size: 14px;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    font-weight: 600;
}

.p-title {
    font-size: 32px;
    margin: 10px 0;
    color: #2c3e50;
}

.p-price-box {
    margin: 20px 0;
    font-size: 28px;
}

.p-old-price {
    text-decoration: line-through;
    color: #95a5a6;
    font-size: 20px;
    margin-right: 10px;
}

.p-new-price {
    color: #e74c3c;
    font-weight: bold;
}

.p-desc {
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
}

.add-cart-btn {
    background: var(--primary);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: background 0.3s;
}

.add-cart-btn:hover {
    background: var(--primary-hover);
}

.qty-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-input {
    width: 40px;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.action-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}


.buy-now-btn {
    background: #27ae60;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.buy-now-btn:hover {
    background: #219150;
}

.btn-disabled {
    background: #ccc !important;
    cursor: not-allowed;
    pointer-events: none;
}